vim-addons/FuzzyFinder/
vim-addons/L9/
vim-addons/MRU/
vim-addons/The_NERD_tree/
vim-addons/snipMate/
vim-addons/tComment/
vim-addons/taglist/
vim-addons/tlib/
vim-addons/vim-addon-actions/
vim-addons/vim-addon-background-cmd/
vim-addons/vim-addon-completion/
vim-addons/vim-addon-goto-thing-at-cursor/
vim-addons/vim-addon-manager-known-repositories/
vim-addons/vim-addon-mw-utils/
vim-addons/vim-addon-swfmill/
vim-addons/vim-addon-views/
vim-addons/vim-haxe/

